%div{style: "width:100%; height: 300px; overflow-y:hidden"}
  = image_tag(@post.banner, style:'width:100%')
.container{style: "margin-top: 2em"}
  .row
    .jumbotron.w-pc-100
      %h1.display-4
        = link_to @post.title, root_path
      %p.lead
        = @post.updated_at.strftime("%A, %B %e, %Y")
        by #{@post.user.username} | #{pluralize(@post.views, "View")}
      %hr.my-4/
      .post_body
        = @post.body